header{
text-align: center;
background-color: aqua;
}
header h1{
    
    text-align: center;
 background-color: navy;
}
main {
   background-image: url('https://pibig.info/uploads/posts/2022-12/1669958186_1-pibig-info-p-krasivii-fon-na-ves-ekran-pinterest-1.jpg');
    
size: 50%;
}
.toplaptop228{
    text-align: center;
    color: darkviolet;
    font-size: 20px;
    font-family:fantasy;
    
    
    border-radius: 1px darkviolet solid;
}
*all{
    background-color: darkseagreen;
}
.economy{
    color: rgb(32, 3, 253);
    font-size: 30px;
    font-family:fantasy;
   
    text-align: center;
    border-radius: 1px rgb(32, 3, 253)

}
header{
    background: darkviolet;
}
.ultradominikgusara228{
font-family: fantasy;
color: deeppink;
}

.toplaptop227{
text-align: left;
    3
}
.rich{

    color: firebrick;
    font-size: 25px;
    font-family:fantasy;
    
    text-align: center;
    border-radius: 1px darkviolet solid

}
.rich2{

    color: rgb(10, 112, 255);
    font-size: 25px;
    font-family:fantasy;
    
    text-align: center;
    border-radius: 1px darkviolet solid

}
table{
   
    margin-left: auto;
    margin-right: auto;
    border:1px solid lightgrey;
    border-collapse:collapse;
}
footer{
    background-image: url('https://pibig.info/uploads/posts/2022-12/1669958157_21-pibig-info-p-krasivii-fon-na-ves-ekran-pinterest-21.jpg');
}
tr{
border:1px solid green;background-color:green;
    

}
td{
    border:1px solid ;background-color:green;
    padding: 5px;
}

footer{
color: ivory;
}
.end{
    text-align: center;
color: black;
font-size: large;
}
